extends ./layout
block body
  div.content
    -if(typeof(user) !== 'undefined')
      form#search
        input(placeholder='search flickr', type="text")#searchValue
        input(type='submit', value="Search")
        
      .createList
        p Create a list of images
        form#createList
          input(placeholder='your list name', type="text").name
          input(type='submit', value="Create List")
        button.cancel Cancel
        
      .yourLists
        p Your lists:
        #yourLists
        .selectBox
          select#listSelector
      
      .addToListControls
        p Combine Lists:
        button.showAddMenu  Select Target List
      .addToList.hide      
        div#addToListMenu
          label.help Target List ->
          .selectBox
            select
          button.cancelCombine Cancel
          button#combine Add
          
          
        
  ul#images(data-id-"")
  
  #greyOutPage.hide
      
  
  