!!!
html
  head
    title Photokeepr
    link(rel='stylesheet', href='/styles/style.css')
  body
    header
      h1: a(href="/") Photokeepr
      #login
        -if(locals.error)
          h3.hello.error= locals.error
        -if(typeof(user) !== 'undefined')
          h3.hello hi, #{username || 'who ever you are'}
          a(href="/logout", target="_self").logout Logout
        -else
          #signInForm
            form(action="/signin", method="post")
              input(name="username", type="text", placeholder="username")
              input(name="password", type="password", placeholder="password")
              .controls
                input(type="submit", value="Sign in")
                span 
                  | or 
                  a(href="#").signUp Create an account!
          
          #signUpForm.hide
            form(action="/signup", method="post")
              input(name="username", type="text", placeholder="username")
              input(name="password", type="password", placeholder="password")
              .controls
                input(type="submit", value="Create an account!")
                span 
                  | or 
                  a(href="#").signIn Sign in
      
    block body   
    
    
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
    script(src='/js/flickr-viewer.js')   