button()
  cursor: pointer
  border: none
  background: accent
  color: white
  font-size: 12px
  text-decoration: none
  text-shadow: none
  box-shadow: none
  transition: 0.25s
  padding-bottom: 7px
  padding-top: 6px
  padding-left: 10px
  padding-right: 10px
  border-color: light
  display: block
  float: left
  box-sizing: border-box
  text-align: center
  border-radius: 4px
  &:hover, &:focus
    background-color: lighten(accent, 50%)
    color: lightest
    transition: 0.25s
  &:hover
    color: dark
    text-decoration: none
    background-position: 0 -15px
    transition: background-position 0.1s linear

selectBox()
  width: 100%
  height: 34px
  overflow: hidden
  background: url('/img/down-arrow.png') no-repeat right accent
  border: 1px solid light
  border-radius: 4px
  select
    color: light
    background: transparent
    width: 108%
    padding: 5px
    font-size: 12px
    line-height: 1
    border: 0
    border-radius: 4px
    height: 34px
    -webkit-appearance: none
    &:focus
      box-shadow: none
      outline: 0
    
input()
  border: 2px solid light
  font-family: Helvetica, Arial, sans-serif
  font-size: 12px
  color: dark
  text-indent: 1px
  border-radius: 6px
  box-shadow: none
  background-color: lightest
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  transition: border linear 0.4s, box-shadow linear 0.4s
  display: inline-block
  height: 20px
  margin-bottom: 10px
  line-height: 20px
  vertical-align: middle
  border-radius: 4px
  padding: 8px 0 9px 10px
  &:focus
    border-color: dominant
    box-shadow: none
    outline: 0
    text-indent: 1px
    transition: border linear 0.4s, box-shadow linear 0.4s;
    
    
    
    
  