@import '/colors'
@import '/mixins'
@import '/media'

html, body 
  height: 100%
  margin: 0
  padding: 0
  
* html .overlay
  height: 100%
  
* html #greyOutPage
  left: auto
  top: auto
  width: 200%
  height: 200%
  
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin: 0 auto
  font-size: 12px
a
  color: accent
  
.hello.error
  margin-bottom: 20px
  color: dominant
  
.overlay
  position: relative
  min-height: 100%

#greyOutPage
  position: absolute
  z-index: 2000
  left: 0
  right: 0
  top: 0
  bottom: 0
  background-color: dark
  opacity: 0.8
  
form#search, .createList, .yourLists, .addToList   
  float: left
  width: 100%
  position: relative
  
.createList
  display: none
  input[type="text"]
    width: 100%
  input[type="submit"], .cancel
    float: right
    
.addToList
  z-index: 2001
  position: absolute;
  top: 50%;     
  left: 50%;    
  margin-top:  -100px
  margin-left: -150px
  width: 300px
  height: 200px
  text-align: center
  background-color: dark
  transform: scale(.9, .9)
  transition: all .18s ease-in-out
  .selectBox
    width: 86%
    margin-left: 7%
    margin-right: 7%
    margin-top: 43px
    margin-bottom: 20px
  button
    float: right
  .cancelCombine
    margin-right: 7%
.addToListControls
  float: left
  margin-top: 20px
  width: 100%
  button
    float: right
  p
    margin-right: 10px
    float: left
    
label.help
  position: absolute
  left: -100px
  top: 50px
  color: light
  font-weight: bolder
  font-size: 15px

.hide
  display: none

.hello
  margin: 0
  float: left
  
input[type="text"], input[type="password"], textarea , textarea 
  input()
  
button, input[type="submit"]
  button()
  
.selectBox
  selectBox()
  
.content, #login
  float: left
  width: 20%
  margin-left: 40%
  margin-right: 40%
  
header
  width: 100%
  z-index: 2000
  .logout
    float: right
  #login
    margin-top: 50px
  h1
    background-color: dark
    text-align: center
    margin: 0px
    padding: 10px
    a
      text-decoration: none
      color: white
  form
    input[type="text"], input[type="password"] 
      width: 100%
    span
      float: right
  #signInForm, #signUpForm
    float: left
    width: 100%
  .controls
    margin-top: 10px
    float: left
    width: 100%
    line-height: 2.5

#search 
  margin-top: 10px
  width: 100%
  float: left
  position: relative
  input[type="submit"]
    position: absolute
    margin-top: 0px
    right: 1px
    top: 0px
    width: 25%
    padding-left: 3%
    padding-right: 3%
    padding-top: 12px
    padding-bottom: 14px
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px
    min-width: 64px
  #searchValue
    border-top-right-radius: 0px
    border-bottom-right-radius: 0px
    border-right: 0px
    width: 67%
    padding-left: 6%
    padding-right: 2%
    min-width: 171px
    &:focus
      border-color: accent
  
#images
  // width: 400px
  padding: 0px
  margin: 0px
  float: left
  margin-top: 16px
  
  li
    list-style: none
    height: 75px
    // margin: 10px
    float: left
    cursor: pointer
    position: relative
    &.delete
      &:hover
        background: rgba(255,255,255, 1)
        span
          position: absolute
          background-image: url('/img/delete.png')
          width: 28px
          height: 23px
          margin-left: 24px
          margin-top: 22px
        img
          opacity: 0.4
    
.selected 
  position: relative
  cursor: pointer
  &:before
    content: ""
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: dominantOpacity
  //   transition: background .3s linear
  // &:hover:before
  //   background: none 

