@media only screen and (max-width: 760px) {
  body .content,
  body #login {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }
  body .addToList {
    top: 169px;
  }
  body label.help {
    display: none;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
* html .overlay {
  height: 100%;
}
* html #greyOutPage {
  left: auto;
  top: auto;
  width: 200%;
  height: 200%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  font-size: 12px;
}
a {
  color: #1cafcf;
}
.hello.error {
  margin-bottom: 20px;
  color: #1dbc9c;
}
.overlay {
  position: relative;
  min-height: 100%;
}
#greyOutPage {
  position: absolute;
  z-index: 2000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #323a44;
  opacity: 0.8;
}
form#search,
.createList,
.yourLists,
.addToList {
  float: left;
  width: 100%;
  position: relative;
}
.createList {
  display: none;
}
.createList input[type="text"] {
  width: 100%;
}
.createList input[type="submit"],
.createList .cancel {
  float: right;
}
.addToList {
  z-index: 2001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: #323a44;
  transform: scale(0.9, 0.9);
  transition: all 0.18s ease-in-out;
}
.addToList .selectBox {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 43px;
  margin-bottom: 20px;
}
.addToList button {
  float: right;
}
.addToList .cancelCombine {
  margin-right: 7%;
}
.addToListControls {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.addToListControls button {
  float: right;
}
.addToListControls p {
  margin-right: 10px;
  float: left;
}
label.help {
  position: absolute;
  left: -100px;
  top: 50px;
  color: #eceff1;
  font-weight: bolder;
  font-size: 15px;
}
.hide {
  display: none;
}
.hello {
  margin: 0;
  float: left;
}
input[type="text"],
input[type="password"],
textarea,
textarea {
  border: 2px solid #eceff1;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #323a44;
  text-indent: 1px;
  border-radius: 6px;
  box-shadow: none;
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border linear 0.4s, box-shadow linear 0.4s;
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 4px;
  padding: 8px 0 9px 10px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea:focus {
  border-color: #1dbc9c;
  box-shadow: none;
  outline: 0;
  text-indent: 1px;
  transition: border linear 0.4s, box-shadow linear 0.4s;
}
button,
input[type="submit"] {
  cursor: pointer;
  border: none;
  background: #1cafcf;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  transition: 0.25s;
  padding-bottom: 7px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: #eceff1;
  display: block;
  float: left;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
}
button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus {
  background-color: #86dcef;
  color: #fff;
  transition: 0.25s;
}
button:hover,
input[type="submit"]:hover {
  color: #323a44;
  text-decoration: none;
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
}
.selectBox {
  width: 100%;
  height: 34px;
  overflow: hidden;
  background: url("/img/down-arrow.png") no-repeat right #1cafcf;
  border: 1px solid #eceff1;
  border-radius: 4px;
}
.selectBox select {
  color: #eceff1;
  background: transparent;
  width: 108%;
  padding: 5px;
  font-size: 12px;
  line-height: 1;
  border: 0;
  border-radius: 4px;
  height: 34px;
  -webkit-appearance: none;
}
.selectBox select:focus {
  box-shadow: none;
  outline: 0;
}
.content,
#login {
  float: left;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
header {
  width: 100%;
  z-index: 2000;
}
header .logout {
  float: right;
}
header #login {
  margin-top: 50px;
}
header h1 {
  background-color: #323a44;
  text-align: center;
  margin: 0px;
  padding: 10px;
}
header h1 a {
  text-decoration: none;
  color: #fff;
}
header form input[type="text"],
header form input[type="password"] {
  width: 100%;
}
header form span {
  float: right;
}
header #signInForm,
header #signUpForm {
  float: left;
  width: 100%;
}
header .controls {
  margin-top: 10px;
  float: left;
  width: 100%;
  line-height: 2.5;
}
#search {
  margin-top: 10px;
  width: 100%;
  float: left;
  position: relative;
}
#search input[type="submit"] {
  position: absolute;
  margin-top: 0px;
  right: 1px;
  top: 0px;
  width: 25%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 12px;
  padding-bottom: 14px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  min-width: 64px;
}
#search #searchValue {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
  width: 67%;
  padding-left: 6%;
  padding-right: 2%;
  min-width: 171px;
}
#search #searchValue:focus {
  border-color: #1cafcf;
}
#images {
  padding: 0px;
  margin: 0px;
  float: left;
  margin-top: 16px;
}
#images li {
  list-style: none;
  height: 75px;
  float: left;
  cursor: pointer;
  position: relative;
}
#images li.delete:hover {
  background: #fff;
}
#images li.delete:hover span {
  position: absolute;
  background-image: url("/img/delete.png");
  width: 28px;
  height: 23px;
  margin-left: 24px;
  margin-top: 22px;
}
#images li.delete:hover img {
  opacity: 0.4;
}
.selected {
  position: relative;
  cursor: pointer;
}
.selected:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29,188,156,0.7);
}
